@CHARSET "UTF-8";

.gfy-modprofile-points, .gfy-modprofile-level{
	font-size: 50pt !important;
	text-align: center !important;
	overflow: visible !important;
}

.gfy-modprofile-level-title {
	text-align: center !important;
	font-size: medium;
	font-weight: bold;
}