<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="images" label="COM_GAMIFICATION_IMAGES" description="COM_GAMIFICATION_IMAGES_PARAMS">
        <field name="images_directory" type="text" default="images/gamification" size="50" label="COM_GAMIFICATION_IMAGES_DIRECTORY" description="COM_GAMIFICATION_IMAGES_DIRECTORY_DESC"/>
    </fieldset>

    <fieldset name="integration" label="COM_GAMIFICATION_INTEGRATION" description="COM_GAMIFICATION_INTEGRATION_PARAMS">
        <field name="integration_social_platform" type="list" default="" label="COM_GAMIFICATION_PROFILE" description="COM_GAMIFICATION_INTEGRATION_SOCIAL_PLATFORM_DESC">
            <option value="">COM_GAMIFICATION_NONE</option>
            <option value="socialcommunity">COM_GAMIFICATION_SOCIAL_COMMUNITY</option>
            <option value="gravatar">COM_GAMIFICATION_GRAVATAR</option>
            <option value="jomsocial">COM_GAMIFICATION_JOMSOCIAL</option>
            <option value="easysocial">COM_GAMIFICATION_EASYSOCIAL</option>
            <option value="kunena">COM_GAMIFICATION_KUNENA</option>
            <option value="easyprofile">COM_GAMIFICATION_EASYPROFILE</option>
        </field>
        <field name="integration_avatars_size" type="list" default="small" label="COM_GAMIFICATION_AVATARS_SIZE" description="COM_GAMIFICATION_AVATARS_SIZE_DESC" >
            <option value="icon">COM_GAMIFICATION_ICON</option>
            <option value="small">COM_GAMIFICATION_SMALL</option>
            <option value="medium">COM_GAMIFICATION_MEDIUM</option>
            <option value="large">COM_GAMIFICATION_LARGE</option>
        </field>
        <field name="integration_avatars_default" type="text" default="/media/com_gamification/images/no-profile.png" label="COM_GAMIFICATION_AVATARS_DEFAULT" description="COM_GAMIFICATION_AVATARS_DEFAULT_DESC" class="span6"/>

        <field name="integration_notifications" type="list" default="" label="COM_GAMIFICATION_NOTIFICATIONS" description="COM_GAMIFICATION_INTEGRATION_NOTIFICATIONS_DESC">
            <option value="">COM_GAMIFICATION_NONE</option>
            <option value="gamification">COM_GAMIFICATION_GAMIFICATION_PLATFORM</option>
            <option value="socialcommunity">COM_GAMIFICATION_SOCIAL_COMMUNITY</option>
            <option value="jomsocial">COM_GAMIFICATION_JOMSOCIAL</option>
            <option value="easysocial">COM_GAMIFICATION_EASYSOCIAL</option>
        </field>

        <field name="integration_activities" type="list" default="" label="COM_GAMIFICATION_ACTIVITIES" description="COM_GAMIFICATION_INTEGRATION_ACTIVITIES_DESC">
            <option value="">COM_GAMIFICATION_NONE</option>
            <option value="gamification">COM_GAMIFICATION_GAMIFICATION_PLATFORM</option>
            <option value="socialcommunity">COM_GAMIFICATION_SOCIAL_COMMUNITY</option>
            <option value="jomsocial">COM_GAMIFICATION_JOMSOCIAL</option>
            <option value="easysocial">COM_GAMIFICATION_EASYSOCIAL</option>
        </field>
    </fieldset>
</config>